<nav class="sidebar">
    <div class="logo-area">
        <div class="logo-icon">
            <span class="material-symbols-outlined icon-md">book</span>
        </div>
    </div>
    <div class="nav-group">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
            <span class="material-symbols-outlined icon-md">dashboard</span>
        </a>
        <a routerLink="/notes" routerLinkActive="active" class="nav-item">
            <span class="material-symbols-outlined icon-md">lightbulb</span>
        </a>
        <a routerLink="/books" routerLinkActive="active" class="nav-item">
            <span class="material-symbols-outlined icon-md">library_books</span>
        </a>
        <a routerLink="/planner" routerLinkActive="active" class="nav-item">
            <span class="material-symbols-outlined icon-md">view_kanban</span>
        </a>
    </div>
    <div class="spacer"></div>
    <div class="nav-group">
        <button class="nav-item">
            <span class="material-symbols-outlined icon-md">settings</span>
        </button>
    </div>
</nav>